In [0]:
#importing libraries
import numpy as np
import pandas as pd

In [0]:
#reading dataset
#df = pd.read_csv('E:\ASDS\Python for DS\GPA.csv')

url='https://raw.githubusercontent.com/fazlyrabbi77/StatisticsBasic/master/GPA.csv'
df = pd.read_csv(url)

In [3]:
#displaying the data set
df

     Name  StudyTime  GamingHour   GPA
0   Monir        4.0         0.5  3.55
1    Jony        2.5         1.0  2.35
2   Gopal        3.0         0.5  3.07
3   Habib        6.0         0.0  3.93
4    Kona        5.0         0.5  3.97
5   Bablu        1.0         3.0  2.43
6    Sara        3.5         0.0  3.61
7   Javed        4.0         0.5  3.67
8   Hasib        2.0         1.0  2.97
9  Hridoy        1.5         2.0  2.81

In [24]:
#Counting
df.count()

Name          10
StudyTime     10
GamingHour    10
GPA           10
dtype: int64

In [26]:
#Use of sum function
df[['StudyTime','GamingHour','GPA']].sum()

StudyTime     32.50
GamingHour     9.00
GPA           32.36
dtype: float64

In [29]:
#Use of Cumulative sum
df[['StudyTime','GamingHour','GPA']].cumsum()

   StudyTime  GamingHour    GPA
0        4.0         0.5   3.55
1        6.5         1.5   5.90
2        9.5         2.0   8.97
3       15.5         2.0  12.90
4       20.5         2.5  16.87
5       21.5         5.5  19.30
6       25.0         5.5  22.91
7       29.0         6.0  26.58
8       31.0         7.0  29.55
9       32.5         9.0  32.36

In [4]:
# Calculating mean
df.mean()

StudyTime     3.250
GamingHour    0.900
GPA           3.236
dtype: float64

In [8]:
#Calculating mean of a specific variable
df.GPA.mean()

3.2359999999999998

In [9]:
# Calculating median
df.median()

StudyTime     3.25
GamingHour    0.50
GPA           3.31
dtype: float64

In [13]:
# Calculating mode
df.StudyTime.mode()

0    4.0
dtype: float64

In [18]:
#Checking minimum values
df.min()

Name          Bablu
StudyTime         1
GamingHour        0
GPA            2.35
dtype: object

In [19]:
#Checking maximum values
df.max()

Name          Sara
StudyTime        6
GamingHour       3
GPA           3.97
dtype: object

In [23]:
#Checking range (after excluding string value valriable 'Name')
range=df[['StudyTime','GamingHour','GPA']].max()-df[['StudyTime','GamingHour','GPA']].min()
range

StudyTime     5.00
GamingHour    3.00
GPA           1.62
dtype: float64

In [27]:
#Calculating Variance
df.var()

StudyTime     2.458333
GamingHour    0.877778
GPA           0.351293
dtype: float64

In [30]:
#Calculating Standard Deviation
df.std()

StudyTime     1.567907
GamingHour    0.936898
GPA           0.592700
dtype: float64

In [14]:
#Checking covariance
df.cov()

            StudyTime  GamingHour       GPA
StudyTime    2.458333   -1.194444  0.827222
GamingHour  -1.194444    0.877778 -0.418222
GPA          0.827222   -0.418222  0.351293

In [15]:
#Checking correlation
df.corr()

            StudyTime  GamingHour       GPA
StudyTime    1.000000   -0.813117  0.890157
GamingHour  -0.813117    1.000000 -0.753147
GPA          0.890157   -0.753147  1.000000

In [16]:
#Checking Skewness
df.skew()

StudyTime     0.283764
GamingHour    1.499697
GPA          -0.283563
dtype: float64

In [17]:
#Checking Skewness
df.kurtosis()

StudyTime    -0.548118
GamingHour    1.985173
GPA          -1.396490
dtype: float64

In [31]:
#Checking Quantile
df.quantile(.25)

StudyTime     2.125
GamingHour    0.500
GPA           2.850
Name: 0.25, dtype: float64

In [32]:
#Calculating IRQ
irq=df.quantile(.75)-df.quantile(.25)
irq

StudyTime     1.875
GamingHour    0.500
GPA           0.805
dtype: float64

In [33]:
#Describing the whole dataset
df.describe()

       StudyTime  GamingHour      GPA
count  10.000000   10.000000  10.0000
mean    3.250000    0.900000   3.2360
std     1.567907    0.936898   0.5927
min     1.000000    0.000000   2.3500
25%     2.125000    0.500000   2.8500
50%     3.250000    0.500000   3.3100
75%     4.000000    1.000000   3.6550
max     6.000000    3.000000   3.9700

In [35]:
#Describing the whole dataset including string variable
df.describe(include='all')

         Name  StudyTime  GamingHour      GPA
count      10  10.000000   10.000000  10.0000
unique     10        NaN         NaN      NaN
top     Hasib        NaN         NaN      NaN
freq        1        NaN         NaN      NaN
mean      NaN   3.250000    0.900000   3.2360
std       NaN   1.567907    0.936898   0.5927
min       NaN   1.000000    0.000000   2.3500
25%       NaN   2.125000    0.500000   2.8500
50%       NaN   3.250000    0.500000   3.3100
75%       NaN   4.000000    1.000000   3.6550
max       NaN   6.000000    3.000000   3.9700